/bavk.png
/biomass.jpg
/friction.jpg
/geoe.jpg
/hydrogen.jpg
/icon.png
/nasa-Q1p7bh3SHj8-unsplash.jpg
/pexels-tombrand-1637261.jpg
/Polygon 1 copy.png
/Polygon.png
/sun.jpg
/water.jpg
/watere.jpg
/wind.jpg